<%- include('../includes/head.ejs') %>
    </head>


    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
    <% if(products.length > 0) { %> 
        <ul>
           <% for(let p of products) { %>
                <li>
                    <p><%=p.title%>(<%=p.cartItem.quantity%>)</p>
                    <form action="/cart-delete-item"  method="POST">
                        <input type="hidden" name="productId" value="<%=p.id%>">
                        <input type="hidden" name="productPrice" value="<%=p.price%>">
                        <button type="submit">Delete</button>   
                    </form>
                 </li>
        <%   } %>
        </ul>
    <% } else {%>
        <h1> no products in cart</h1>
   <% } %>
</main>
    <body>
        <%- include('../includes/end.ejs') %>